:root{
--blue: #375EFB;
--lightblue: #9BAFFD;
--darkblue: #26356D;
--text-color: #121212;
--main-font: 2.2rem;
--p-font: 1.1rem;
}

body{
margin: 0;
font-family: "Poppins", "sans-serif";
}

.header {
background-color: #f3f3f3;
display: flex;
align-items: baseline;
padding: .5rem;
gap: 1rem;
justify-content: space-between;
}

.link{
background: none;
border: none;
text-decoration: none;
color: #777;
cursor: pointer;
padding: 10px;
}

.menu{
display: flex;
font-size: 20px;
justify-content: center;
align-items: center;
padding: 20px;
}

.menu div:hover{
color: black;
}

.menu .link{
display: flex;
font-size: 20px;
margin-right: 20px;
align-items: center;
}

.logo{
margin-left: 20px;
font-size: 40px;
font-weight: 700;
cursor: pointer;
}

.logo a{
color: #121212;
text-decoration: none;
}

.logo a:hover{
color: var(--blue);
}


.language{
position: relative; 
}

.language .dropdown-menu{
height: 150px;
overflow-y: auto;
}

.language .dropdown-menu a:hover{
color: var(--blue);
}

.menu button:hover{
color: black;
}

.language-list a{
white-space: nowrap;
text-decoration: none;
color: darkgray;
}

.box{
    padding: 20px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55, 55 , 55, 12%);
    border-radius: 20px;
    position: relative;
    transition: all .35s ease;
  }
  
  .box img{
    max-width: 100%;
    max-height: 100%;
  }
  
  .box h4{
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .box h5{
    margin-top: 8px;
    color: green;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  
  .box .trash a i{
    left: 80px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  .box .like i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  .h-search-bar{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.h-search-bar input{
  width: 600px;
  height: 60px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  height: 60px;
  border: 2px solid lightgray;
}

.h-search-bar input:hover{
  border: 2px solid var(--lightblue);
}

.box img{
    cursor: pointer;
}