:root{
  --blue: #375EFB;
  --lightblue: #9BAFFD;
  --darkblue: #26356D;
  --text-color: #121212;
  --main-font: 2.2rem;
  --p-font: 1.1rem;
}

body{
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

.header{
  background-color: #f3f3f3;
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
  justify-content: space-between;
}

.link{
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  cursor: pointer;
  padding: 10px;
}

.menu{
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menu div:hover{
  color: black;
}

.menu .link{
  display: flex;
  font-size: 20px;
  margin-right: 20px;
  align-items: center;
}

.logo{
  margin-left: 20px;
  font-size: 40px;
font-weight: 700;
cursor: pointer;
}

.logo a{
  color: #121212;
  text-decoration: none;
}

.logo a:hover{
  color: var(--blue);
}


.language{
  position: relative; 
}

.language .dropdown-menu{
  height: 150px;
  overflow-y: auto;
}

.language .dropdown-menu a:hover{
  color: var(--blue);
}

.menu button:hover{
  color: black;
}

.language-list a{
  white-space: nowrap;
  text-decoration: none;
  color: darkgray;
}

.navbar{
  background-color: #f3f3f3;
  display: flex;
  padding: .75rem;
  gap: 1rem;
  justify-content: space-between;
}
.nav-item {   
  font-size: 20px;
  margin-left: 20px;
}


.nav-item a {
  text-decoration: none;
}


.hero{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.h-search-bar{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.h-search-bar input{
  width: 600px;
  height: 60px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  height: 60px;
  border: 2px solid lightgray;
}

.h-search-bar input:hover{
  border: 2px solid var(--lightblue);
}

.hero h1{
  margin-top: 7%;
  font-weight: 400;
}
.hero strong{
  color: var(--blue);
}



.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  cursor: pointer;
  padding-top: 2rem;
}

.box{
  padding: 0px 20px 10px 20px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55, 55 , 55, 12%);
  border-radius: 20px;
  position: relative;
  transition: all .35s ease;
}

.box img{
  max-width: 100%;
  max-height: 100%;
}

.box h4{
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.box h5{
  margin-top: 8px;
  color: green;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.box .cart i{
  position: absolute;
  top: 10px;
  left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.box .like i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.contact{
  padding: 80px 17%;
  background: #f3f3f3;
}

.main-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
  margin-bottom: 3rem;
}

.contact-content li{
  margin-bottom: 15px;
  list-style-type: none;
}

.contact-content li a{
  display: block;
  color: darkgray;
  font-size: var(--p-font);
  font-weight: 600;
  transition: all .40s ease;
  text-decoration: none;
}

.contact-content li a:hover{
  color: #121212;
  transform: translateX(-10px);
}

.action form{
  text-align: center;
}

.contact-us form{
  text-align: center;
}

.contact-us #email-input{
  width: 500px;
  max-width: 100%;
  padding: 12px 15px;
  color: black;
  border-radius: 15px;
  border: 2px solid #121212;
  outline: none;
  margin: 0px 10px 20px 0px;
  font-size: 16px;
  font-weight: 600;
}

.contact-us #submit{
  height: 50px;
  padding: 10px 35px;
  color: black;
  border-radius: 15px;
  border: 2px solid #121212;
  outline: none;
  margin: 0px 10px 20px 0px;
  font-size: 16px;
  font-weight: 600;
}

.contact-us #submit:hover{
  color: var(--blue);
  border: 2px solid var(--blue);
}

.contact-us #email-input:hover{
  color: var(--blue);
  border: 2px solid var(--blue);
}

@media (max-width: 800px){
  #menu-icon{
    display: block;
  }
  header{
    padding: 15px 8%;
  }
  .navbar{
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    flex-direction: column;
    box-shadow: 0px 2px 18px 0 rgb(129, 162, 182 / 20%);
    transition: all .40s ease;
  }

  .navbar a{
    display: block;
    padding: 1rem;
    margin: 0.5rem;
  }
  .navbar.active{
    top: 100%;
  }
}

.chat-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.chat-btn i{
  font-size: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

